.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading-email {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #515151;
  margin-bottom: 3px;
}
.input-email {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-email:focus {
  border-color: #000000;
  outline: none;
}

.disclaimer {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #515151;
  margin-top: 10px;
}

.login-btn {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #333333;
}

.login-btn:active {
  background-color: #555555;
}